body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    color: dimgray;
}
.skip-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 3%;
    margin-top: 5px;
}
.half-width img{
    width: 100%;
    height: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    font-size: 700;
    padding: 10px 40px;
    border-radius: 25px;
}
section {
    height: 500px;
    margin-top: 15%;
    margin-right: 2%;
}
.frame-number7{
    background-image: url("images/shapes/7.png");
 
}
p{
    text-decoration: none;
    margin-bottom: 15%;
}
.margin-bottom{
    margin-bottom: 25%;
}
p{
    color: dimgray;
}
.my-recipies{
    margin-top: 35%;
}
.text-center{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
}
.blog{
    border: none;
    border-radius: 20px;
    margin:2%;
    width: 25%;
    display: inline-block;
    text-align: center;
}
.shadow{
    /* border: 2px solid ; */
    border-image: linear-gradient(580deg, gray, skyblue);
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;

}
.background{
    background-color: black;
    text-align: center;
    margin-bottom:10%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
}
.eat{
    color: orange;
}
.fresh{
    color: deeppink;
}